*.[oa]
*.class
*.swp
*excluded*
*pyc
*~
.*
.DS_Store
.idea
Temporary
log.*
nohup.out
statistics.info
test
tags
workbench.xmi
model.*
direct-ranker
target/
out/

*.iml
META-INF
upload.to.servers.sh

!*.java
!*.py
!*.h
!*.cpp
!*.hpp
!.gitkeep
!.classpath
!.settings/*
!.gitignore

/*Note: all protected settings must be put in the end of this file*/

